{% extends 'base_template.html' %}

{% block top_navbar %}
{% endblock top_navbar %}
{% block side_bar %}
{% endblock side_bar %}
{% block main_content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}

        {% endif %}
    {% endif %}

    <div class="col-sm-12 col-md-6  jumbotron">
        <h2>Sign in</h2>
        <div class="clearfix"></div>

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                <input class="form-control" name="username" type="text" placeholder="Email address" autofocus=""
                       required="" id="id_username">

            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                <input class="form-control" name="password" type="password" placeholder="Password" required=""
                       id="id_password">
            </div>

            <BR>
            <div class="btn-group open">
                <i class="fa fa-user fa-fw"></i>

                <input type="submit" value="login"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </div>
        </form>
        <BR>
        <div class="clearfix"></div>


        <p>
            <small><a href="{% url 'password_reset' %}">Lost password?</a></small>
        </p>
    </div>


{% endblock main_content %}